@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@font-face {
  font-family: "Sui Generis";
  src: url("./assets/fonts/sui_generis_rg.otf") format("opentype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00495b;
  color: #fff;
  font-family: "Sui Generis", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  max-width: 75rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 1.5rem $mob-pad-hor 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.25rem;
  gap: 0.5rem 0;
  @include tablet {
    @include tab-pad-rules;
  }
}

.main {
  padding: 0 $mob-pad-hor;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include tablet {
    @include tab-pad-rules;
  }

  &__text {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.5rem;

    &--bold {
      font-weight: 600;
      font-size: 1.5rem;
    }

    &--flex-item {
      font-size: 1.25rem;
      text-align: center;
      flex-basis: 5rem;
    }
  }

  &__score-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.footer {
  margin-top: auto;
  padding: 2rem $mob-pad-hor;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  @include tablet {
    @include tab-pad-rules;
  }

  &__text {
    font-size: $footer-font-size;
  }

  &__link {
    color: #9affae;

    &:hover {
      color: #d9fbff;
    }
  }

  &__svg {
    width: $footer-font-size;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
